@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.desktop--navbar li {
  position: relative;
}
.desktop--navbar li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  top: 60px;
  background-color: orange;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.desktop--navbar li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
