@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
  --primary-white: hsl(0, 0%, 100%);
  --primary-black: hsl(0, 0%, 0%);
  --primary-dark-gray: #8c8c8c;
  --primary-very-dark-gray: #696969;
  --font-alata: 'Alata';
  --font-josefin: 'Josefin Sans';
}
